<app-header></app-header>
<app-navbar></app-navbar>


<div class="container">
    <h5>Cita de Reinscripción</h5>
    <br/>
    <table class="table">
      <thead class="thead-light">
        <tr class="table-active">
          <th scope="col">Inicio Reinscripción</th>
          <th scope="col">Caducidad Reinscripción</th>
          <th scope="col">Materias Reprobadas</th>
          <th scope="col">Promedio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>07/08/2022 10:00</td>
          <td>07/08/2022 10:10</td>
          <td>0</td>
          <td>8.5</td>
      
        </tr>
      </tbody>
    </table>  
    <br>
    <h5>Cargas de la carrera</h5>
    <br>
    <table class="table">
      <thead class="thead-light">
        <tr class="table-active">
          <th scope="col">Carga máxima en créditos</th>
          <th scope="col">Carga media en créditos</th>
          <th scope="col">Carga mínima en créditos</th>
          <th scope="col">Carga autorizada actual</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>61.00</td>
          <td>30.00</td>
          <td>19.00</td>
          <td>Media</td>
      
        </tr>
      </tbody>
    </table>
    <br>
    <h5>Trayectoria escolar</h5>
    <br>
    <table class="table">
      <thead class="thead-light">
        <tr class="table-active">
          <th scope="col">Períodos escolares máximos</th>
          <th scope="col">Períodos escolares cursados</th>
          <th scope="col">Períodos escolares disponibles</th>
          <th scope="col">Total de créditos</th>
          <th scope="col">Créditos obtenidos</th>
          <th scope="col">Créditos faltantes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>14</td>
          <td>5</td>
          <td>9</td>
          <td>229.60</td>
          <td>124.34</td>
          <td>105.26</td>
      
        </tr>
      </tbody>
    </table>
    <br>
    <h5>Adeudos</h5>
    <br>
    <table class="table">
      <thead class="thead-light">
        <tr class="table-active">
          <th scope="col">Clave de materia adeudada</th>
          <th scope="col">Nombre materia</th>
          <th scope="col">Valor de materia en créditos</th>
          <th scope="col">N° de períodos adeudando materia</th>
          <th scope="col">Desface</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>-</td>
          <td>-</td>
          <td>0.00</td>
          <td>0</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
    

    
</div>  
  
<app-footer></app-footer> 